* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
.header{
    background: #FFF8F3;
}
.header{
    background: #fff8f3;
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
/* Header and navigation style */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}
.text-primary {
    color: red;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 35px;
}
.btn-primary{
    color: #ffffff;
    font-weight: 700;
    border-radius: 5px;
    border: 0;
    background: #FD6E0A;
    padding: 15px 30px; 
}
/* banner styls */
.banner{
    margin: 0 100px;
    display: flex;
    align-items: center;
}
.banner-title{
    font-weight: 700;
    font-size: 50px;
}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-discription{
    color: darkcyan;
    font-size: 18px;
    margin-bottom: 30px;
}
/* main-section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about-section-styls */
.about-me{
    margin-top: 130px;
    background: #fff8f3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.section-title{
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 700;
}
.section-discription{
    color: darkcyan;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-text{
    text-align: center;
}
.about-me .info-title{
    font-size: 18px;
    color: rgb(219, 53, 53);
}
.info-discription{
    font-weight: 700;
    font-size: 16px;
    color: black;
}

/* what i do styls */
.what-i-do{
    margin-top: 130px;
}